{% extends "base.html" %}
{% load leaflet_tags %}

{% block Title %}
	WebGis Geofisika
{% endblock Title %}

{% block Heading %}
	<h1>Geofisika</h1>
{% endblock Heading %}

{% block Contents %}
<script>
	function map_layers(map,option){
		var datasets = new L.GeoJSON.AJAX("{% url 'peta:data' %}",{
			onEachFeature: function(feature, layer){
				layer.bindPopup(feature.properties.name.toString());
			}
		});
		datasets.addTo(map);
	}
</script>
	{% leaflet_map "gis" callback="window.map_layers" %}
{% endblock Contents %}


